[MQTT]
host = 192.168.123.123
port = 1883
user = yourmqttuser
pass = yourmqttpassword

[HeatPump]
mqtt_topic = home/heat_pump/electric_power_pulse
table_name = heat_pump
columns = ["time", "power"]

[Inverter]
mqtt_topic_fast = home/assistant/inverter/deye_sun_10k/fast
mqtt_topic_slow = home/assistant/inverter/deye_sun_10k/slow
table_name_fast = inverter_fast
table_name_slow = inverter_slow

[WeatherStation]
mqtt_topic = home/weather_station/events
table_name = weather_station
columns = ["time", "location", "id", "battery_ok", "temperature_C", "humidity", "wind_max_m_s", "wind_avg_m_s", "wind_dir_deg", "rain_mm"]
filter_key = id
filter_value = 41234567

[PostgreSQL]
host = localhost
port = 5432
user = postgres
db = h64
password = YOURPOSTGRESPASSWORD
