[Unit]
Description=H64 data collection tools - inverter WebSocket server

[Service]
User=yourusername
Group=yourusername
#ExecStart=/home/yourusername/.nvm/versions/node/v18.17.1/bin/node /home/yourusername/h64/inverter/node_ws_server/inverter_websocket_server.js
ExecStart=/home/yourusername/.bun/bin/bun /home/yourusername/h64/inverter/bun_ws_server/inverter_websocket_server.js
StandardOutput=file:/var/log/h64/inverter_websocket_server
StandardError=file:/var/log/h64/inverter_websocket_server
Restart=on-failure

[Install]
WantedBy=multi-user.target
