.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-item {
    width: 150px;
    height: 150px;
    border: 1px #aaa solid;
    box-shadow: 10px 5px 5px #aaa;
    margin-right: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-value {
    font-size: xx-large;
}

#timestamp.dashboard-item {
    width: 300px;
    height: 70px;
}