[Unit]
Description=Unit file for running h64 family home data collection tools - inverter WebSocket server

[Service]
ExecStart=/usr/bin/sudo -u yourusername /home/yourusername/h64/inverter/inverter_websocket_server.py > /var/log/h64/ inverter_websocket_server
Restart=on-failure

[Install]
WantedBy=multi-user.target
