[Unit]
Description=H64 data collection tools - weather station insert into DB
After=postgresql.service

[Service]
User=yourusername
Group=yourusername
ExecStartPre=/usr/bin/pg_isready -h localhost -p 5432
ExecStart=/usr/bin/python3 /home/yourusername/h64/weather_station/insert_bresser_data_into_db.py
StandardOutput=file:/var/log/h64/insert_bresser_data_into_db
StandardError=file:/var/log/h64/insert_bresser_data_into_db
Restart=on-failure

[Install]
WantedBy=multi-user.target
