[Unit]
Description=H64 - insert data received from Home Assistant via MQTT into DB
After=postgresql.service

[Service]
User=yourusername
Group=yourusername
ExecStartPre=/usr/bin/pg_isready -h localhost -p 5432
ExecStart=/home/yourusername/h64/insert_data_into_db.sh
StandardOutput=file:/var/log/h64/insert_data_into_db
StandardError=file:/var/log/h64/insert_data_into_db
Restart=on-failure

[Install]
WantedBy=multi-user.target